<form class="form-group" [formGroup]="productForm">

    <div class="form-control">
        <label class="col-md-5">Ürün Id</label>
        <input class="col-md-7" type="text" formControlName="productId" disabled="true"
             value="{{ currentProduct.productId }}" [(ngModel)]="currentProduct.productId" />
    </div>

    <div class="form-control">
        <label class="col-md-5">Ürün Ad</label>
        <input [ngClass]="{
        'is-invalid':
        productForm.get('productName').errors && productForm.get('productName').touched
      }" class="col-md-7" type="text" formControlName="productName" 
            value="{{ currentProduct.productName }}" [(ngModel)]="currentProduct.productName" />
    </div>

    <div class="form-control">
        <label class="col-md-5">Ürün Fiyat</label>
        <input [ngClass]="{
            'is-invalid':
            productForm.get('unitPrice').errors && productForm.get('unitPrice').touched
          }" class="col-md-7" type="text" formControlName="unitPrice" 
            value="{{ currentProduct.unitPrice }}" [(ngModel)]="currentProduct.unitPrice" />
    </div>

    <div class="form-control">
        <label class="col-md-5">Ürün Eski Fiyat</label>
        <input [ngClass]="{
                'is-invalid':
                productForm.get('oldPrice').errors && productForm.get('oldPrice').touched
              }" class="col-md-7" type="text" formControlName="oldPrice" 
            value="{{ currentProduct.oldPrice }}" [(ngModel)]="currentProduct.oldPrice" />
    </div>

    <div class="form-control">
            <label class="col-md-5">Stok Sayısı</label>
            <input [ngClass]="{
                    'is-invalid':
                    productForm.get('unitsInStock').errors && productForm.get('unitsInStock').touched
                  }" class="col-md-7" type="text" formControlName="unitsInStock" 
                value="{{ currentProduct.unitsInStock }}" [(ngModel)]="currentProduct.unitsInStock" />
    </div>

    <div class="form-control">
            <label class="col-md-5">Satılma Sayısı</label>
            <input [ngClass]="{
                    'is-invalid':
                    productForm.get('sellCount').errors && productForm.get('sellCount').touched
                  }" class="col-md-7" type="text" formControlName="sellCount" 
                value="{{ currentProduct.sellCount }}" [(ngModel)]="currentProduct.sellCount" />
    </div>
    <div class="form-control">
      
  
        <label class="col-md-5">Kategori</label>
        <select class="col-md-7" [(ngModel)]="catSelected" formControlName="categoriesId" (ngModelChange)="onCategorySelected($event)">
          <option *ngFor="let item of catList" [value]="item.categoryId">
        {{item.categoryName}}
          </option>
        </select>
    
    </div>

    <div>
        <button [disabled]="productForm.invalid" type="button" class="btn btn-warning" (click)="updateProduct()">
            Güncelle
        </button>
    </div>
</form>

<p>Form Value: {{ productForm.value | json }}</p>
<p>Form Status: {{ productForm.status | json }}</p>

<app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>